extends layout

block content
  h3.
    Jobs
  span Search
  span &nbsp;
  input#input_name(type="text", placeholder=" search keyword", name="search")
  ul
    each job, i in joblist 
      li#job_list_item
       p #{job.company}
        br
        a(href=job.joburl) #{job.title} 

        
        
    br 
    br 
    a(href='/') Back to Main Page